<div class="navbar">
  <h1 class="main-title">Sign up</h1>
  <% if user_signed_in? %>
     <%= link_to("Log out", destroy_user_session_path, method: :delete) %>    
  <% end %>
</div>

<div class="frm-categ">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="frm-input">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="frm-input">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="frm-input">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="frm-input">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="frm-submit">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <div class="sign-up">
      <%= render "devise/shared/links" %>
    </div>
</div>