<div class="navbar">
  <h1 class="main-title">Log In</h1>
  <% if user_signed_in? %>
     <%= link_to("Log out", destroy_user_session_path, method: :delete) %>    
  <% end %>
</div>

<div class="frm-categ">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="frm-input">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="frm-input">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="frm-input">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="frm-submit">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <div class="sign-up">
      <%= render "devise/shared/links" %>
    </div>

</div>